:root {
  --bg-color: #2c2b3d;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  max-width: 168px;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin-top: 10px;
}

li {
  list-style: none;
}

nav ul a {
  color: var(--text-color);
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 71px 98px 100px;
}
