:root {
  --bg-color: #2c2b3d;
  --text-color: #fff;
  --highlight-color: #00bfa6;
  --paragraph-color: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  max-width: 168px;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin-top: 10px;
}

li {
  list-style: none;
}

a,
h2,
#footer-span {
  font-family: "JetBrains Mono", sans-serif;
}

nav ul a,
a {
  color: var(--text-color);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 71px 98px 100px;
}

#container {
  display: flex;
  flex-direction: row;
}

#hero-img {
  margin-left: 93.5px;
  max-width: 400px;
  width: 100%;
}

#text-content {
  margin-left: 77px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 60px;
}

.span-style {
  color: var(--highlight-color);
}

.paragraph-style {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: var(--paragraph-color);
  margin-bottom: 30px;
  text-align: center;
}

#balls {
  margin: 153px 20px 20px;
  max-width: 51px;
  width: 100%;
  max-height: 62px;
}

#footer-span {
  font-weight: 300;
  border-top: 1px solid var(--highlight-color);
  text-align: center;
}

#footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

footer {
  height: 100%;
  max-height: 62px;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
